<h1><%= @track.name %></h1>
<p>
  <label>Album:</label>
    <a href="<%= album_url(@track.album_id) %>"><%= @track_album %><br></a>
  <label>Type:</label>
    <%= @track.kind %><br>
  <label>Lyrics:</label><br>
    <%= @track.lyrics %><br>
    <a href="<%= edit_track_url(@track) %>">Edit Track</a>
</p>

<%= render 'notes/form' %>

<label>Previous Notes</label><br>
  <% @notes.each do |note| %>
    <%= note.note_body %><br>
  <% end %>

<form action="<%= track_url(@track) %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <%= auth_token %>
  <input type="submit" value="Delete Track">
</form>
