<h1><%= @track.name %></h1>
<p>
  <label>Album:</label>
    <a href="<%= album_url(@track.album_id) %>"><%= @track_album %><br></a>
  <label>Type:</label>
    <%= @track.kind %><br>
  <label>Lyrics:</label><br>
    <%= @track.lyrics %><br>
    <a href="<%= edit_track_url(@track) %>">Edit Track</a><br>
    <%= link_to 'Add Track', new_album_track_url(@track.album_id) %><br>
    <%= link_to 'Album Page', album_url(@track.album_id) %>
</p>

<%= render 'notes/form' %>

<label>Previous Notes</label><br>
  <% @notes.each do |note| %>
    <%= note.note_body %> | by <%= note.user.email %> |
    <% if current_user.id == note.user_id %>
      <%= button_to 'Delete Note', note_url(note),method: :delete %>
    <% end %><br> 
  <% end %>

<form action="<%= track_url(@track) %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <%= auth_token %>
  <input type="submit" value="Delete Track">
</form>
